--
-- PostgreSQL database dump
--

\restrict dEbm0hWemB1K3Z3Hm1eOJrGMTsZV6CjpwGaifkG6QKfrR0VYyhnPQAEcvqfcW4t

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: practice_module_7; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA practice_module_7;


ALTER SCHEMA practice_module_7 OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: countries; Type: TABLE; Schema: practice_module_7; Owner: postgres
--

CREATE TABLE practice_module_7.countries (
    country_id integer NOT NULL,
    name character varying(80) NOT NULL,
    iso3 character(3) NOT NULL,
    capital character varying(80),
    continent character varying(20) NOT NULL,
    region character varying(40) NOT NULL,
    population bigint NOT NULL,
    area_km2 numeric(12,2) NOT NULL,
    gdp_usd_millions numeric(14,2) NOT NULL,
    life_expectancy numeric(4,1),
    currency character varying(30),
    government_form character varying(40),
    landlocked boolean DEFAULT false NOT NULL,
    un_member boolean DEFAULT true NOT NULL,
    CONSTRAINT countries_area_km2_check CHECK ((area_km2 >= (0)::numeric)),
    CONSTRAINT countries_gdp_usd_millions_check CHECK ((gdp_usd_millions >= (0)::numeric)),
    CONSTRAINT countries_life_expectancy_check CHECK (((life_expectancy >= (0)::numeric) AND (life_expectancy <= (120)::numeric))),
    CONSTRAINT countries_population_check CHECK ((population >= 0))
);


ALTER TABLE practice_module_7.countries OWNER TO postgres;

--
-- Name: countries_country_id_seq; Type: SEQUENCE; Schema: practice_module_7; Owner: postgres
--

CREATE SEQUENCE practice_module_7.countries_country_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE practice_module_7.countries_country_id_seq OWNER TO postgres;

--
-- Name: countries_country_id_seq; Type: SEQUENCE OWNED BY; Schema: practice_module_7; Owner: postgres
--

ALTER SEQUENCE practice_module_7.countries_country_id_seq OWNED BY practice_module_7.countries.country_id;


--
-- Name: view_1_2; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_1_2 AS
 SELECT continent,
    region,
    sum(population) AS total_population,
    sum(gdp_usd_millions) AS total_gdp_usd_millions
   FROM practice_module_7.countries
  GROUP BY ROLLUP(continent, region)
  ORDER BY continent, region;


ALTER VIEW practice_module_7.view_1_2 OWNER TO postgres;

--
-- Name: view_1_3; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_1_3 AS
 SELECT continent,
    landlocked,
    count(country_id) AS country_count,
    avg(life_expectancy) AS avg_life_expectancy
   FROM practice_module_7.countries
  GROUP BY CUBE(continent, landlocked);


ALTER VIEW practice_module_7.view_1_3 OWNER TO postgres;

--
-- Name: view_1_4; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_1_4 AS
 SELECT countries.continent,
    countries.region,
    sum(countries.population) AS total_population,
    sum(countries.gdp_usd_millions) AS total_gdp_usd_millions
   FROM practice_module_7.countries
  GROUP BY countries.continent, countries.region
UNION ALL
 SELECT countries.continent,
    NULL::character varying AS region,
    sum(countries.population) AS total_population,
    sum(countries.gdp_usd_millions) AS total_gdp_usd_millions
   FROM practice_module_7.countries
  GROUP BY countries.continent
UNION ALL
 SELECT NULL::character varying AS continent,
    NULL::character varying AS region,
    sum(countries.population) AS total_population,
    sum(countries.gdp_usd_millions) AS total_gdp_usd_millions
   FROM practice_module_7.countries
  ORDER BY 1, 2;


ALTER VIEW practice_module_7.view_1_4 OWNER TO postgres;

--
-- Name: view_2_1; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_2_1 AS
 SELECT
        CASE
            WHEN (GROUPING(continent) = 1) THEN 'World Total'::character varying
            ELSE continent
        END AS continent,
        CASE
            WHEN (GROUPING(region) = 1) THEN 'All Regions'::character varying
            ELSE region
        END AS region,
    sum(population) AS total_population,
    sum(gdp_usd_millions) AS total_gdp_usd_millions
   FROM practice_module_7.countries
  GROUP BY ROLLUP(continent, region)
  ORDER BY
        CASE
            WHEN (GROUPING(continent) = 1) THEN 'World Total'::character varying
            ELSE continent
        END,
        CASE
            WHEN (GROUPING(region) = 1) THEN 'All Regions'::character varying
            ELSE region
        END;


ALTER VIEW practice_module_7.view_2_1 OWNER TO postgres;

--
-- Name: view_2_2; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_2_2 AS
 SELECT
        CASE
            WHEN (GROUPING(continent) = 1) THEN 'World Total'::character varying
            ELSE continent
        END AS continent,
        CASE
            WHEN (GROUPING(region) = 1) THEN 'All Regions'::character varying
            ELSE region
        END AS region,
        CASE
            WHEN (GROUPING(continent, region) = 0) THEN 'Grouped by continent and region'::text
            WHEN (GROUPING(continent, region) = 1) THEN 'Grouped only by continent'::text
            WHEN (GROUPING(continent, region) = 3) THEN 'Not grouped'::text
            ELSE 'Unknown'::text
        END AS explanation,
    sum(population) AS total_population,
    sum(gdp_usd_millions) AS total_gdp_usd_millions
   FROM practice_module_7.countries
  GROUP BY ROLLUP(continent, region)
  ORDER BY
        CASE
            WHEN (GROUPING(continent) = 1) THEN 'World Total'::character varying
            ELSE continent
        END,
        CASE
            WHEN (GROUPING(region) = 1) THEN 'All Regions'::character varying
            ELSE region
        END;


ALTER VIEW practice_module_7.view_2_2 OWNER TO postgres;

--
-- Name: view_2_3; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_2_3 AS
 SELECT
        CASE
            WHEN (GROUPING(continent) = 1) THEN 'World Total'::character varying
            ELSE continent
        END AS continent,
        CASE
            WHEN (GROUPING(region) = 1) THEN 'All Regions'::character varying
            ELSE region
        END AS region,
    sum(population) AS total_population,
    sum(gdp_usd_millions) AS total_gdp_usd_millions
   FROM practice_module_7.countries
  GROUP BY ROLLUP(continent, region)
 HAVING (GROUPING(region) = 1)
  ORDER BY
        CASE
            WHEN (GROUPING(continent) = 1) THEN 'World Total'::character varying
            ELSE continent
        END,
        CASE
            WHEN (GROUPING(region) = 1) THEN 'All Regions'::character varying
            ELSE region
        END;


ALTER VIEW practice_module_7.view_2_3 OWNER TO postgres;

--
-- Name: view_3_1; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_3_1 AS
 SELECT continent,
    name,
    population,
    rn,
    r,
    dr,
    life_expectancy_ranking,
    life_expectancy_dense_ranking
   FROM ( SELECT countries.continent,
            countries.name,
            countries.population,
            row_number() OVER (PARTITION BY countries.continent ORDER BY countries.population DESC) AS rn,
            rank() OVER (PARTITION BY countries.continent ORDER BY countries.population DESC) AS r,
            dense_rank() OVER (PARTITION BY countries.continent ORDER BY countries.population DESC) AS dr,
            rank() OVER (PARTITION BY countries.continent ORDER BY (round(countries.life_expectancy)) DESC) AS life_expectancy_ranking,
            dense_rank() OVER (PARTITION BY countries.continent ORDER BY (round(countries.life_expectancy)) DESC) AS life_expectancy_dense_ranking
           FROM practice_module_7.countries) ranking
  WHERE (life_expectancy_ranking <> life_expectancy_dense_ranking);


ALTER VIEW practice_module_7.view_3_1 OWNER TO postgres;

--
-- Name: view_3_2; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_3_2 AS
 SELECT continent,
    name,
    gdp_usd_millions,
    gdp_ranking
   FROM ( SELECT countries.continent,
            countries.name,
            countries.gdp_usd_millions,
            rank() OVER (PARTITION BY countries.continent ORDER BY countries.gdp_usd_millions DESC) AS gdp_ranking
           FROM practice_module_7.countries) g
  WHERE (gdp_ranking <= 3);


ALTER VIEW practice_module_7.view_3_2 OWNER TO postgres;

--
-- Name: view_3_3; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_3_3 AS
 WITH country_gdp AS (
         SELECT countries.country_id,
            countries.continent,
            countries.name,
            ((countries.gdp_usd_millions * 1000000.0) / (countries.population)::numeric) AS gdp_per_capita
           FROM practice_module_7.countries
        )
 SELECT country_id,
    continent,
    name,
    gdp_per_capita,
    ntile(4) OVER (ORDER BY gdp_per_capita DESC) AS quartile
   FROM country_gdp;


ALTER VIEW practice_module_7.view_3_3 OWNER TO postgres;

--
-- Name: view_4_1; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_4_1 AS
 SELECT country_id,
    name,
    continent,
    population,
    continent_population,
    ((population)::numeric / continent_population) AS population_percentage_share
   FROM ( SELECT countries.country_id,
            countries.name,
            countries.continent,
            countries.population,
            sum(countries.population) OVER (PARTITION BY countries.continent) AS continent_population
           FROM practice_module_7.countries) t
  ORDER BY continent, population DESC;


ALTER VIEW practice_module_7.view_4_1 OWNER TO postgres;

--
-- Name: view_4_2; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_4_2 AS
 WITH country_with_avg_region_gdp AS (
         SELECT countries.country_id,
            countries.name,
            countries.region,
            countries.gdp_usd_millions,
            avg(countries.gdp_usd_millions) OVER (PARTITION BY countries.region) AS avg_gdp
           FROM practice_module_7.countries
        )
 SELECT country_id,
    name,
    region,
    gdp_usd_millions,
    avg_gdp,
    (gdp_usd_millions - avg_gdp) AS gdp_diff
   FROM country_with_avg_region_gdp
  ORDER BY region, gdp_usd_millions DESC;


ALTER VIEW practice_module_7.view_4_2 OWNER TO postgres;

--
-- Name: view_4_3; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_4_3 AS
 SELECT continent,
    name,
    count(*) OVER (PARTITION BY continent) AS country_count,
    min(life_expectancy) OVER (PARTITION BY continent) AS min_life_expectency_per_continent,
    max(life_expectancy) OVER (PARTITION BY continent) AS max_life_expectency_per_continent
   FROM practice_module_7.countries;


ALTER VIEW practice_module_7.view_4_3 OWNER TO postgres;

--
-- Name: view_4_4; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_4_4 AS
 SELECT name,
    continent,
    population,
    sum(population) OVER (ORDER BY population DESC) AS running_total,
    row_number() OVER (ORDER BY population DESC) AS pop_rank
   FROM practice_module_7.countries;


ALTER VIEW practice_module_7.view_4_4 OWNER TO postgres;

--
-- Name: view_5_1; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_5_1 AS
 SELECT name,
    continent,
    area_km2,
    (lag(area_km2) OVER (PARTITION BY continent ORDER BY area_km2 DESC) - area_km2) AS area_diff
   FROM practice_module_7.countries
  ORDER BY continent, area_km2 DESC;


ALTER VIEW practice_module_7.view_5_1 OWNER TO postgres;

--
-- Name: view_5_2; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_5_2 AS
 SELECT name,
    continent,
    gdp_usd_millions,
    lead(name) OVER (PARTITION BY continent ORDER BY gdp_usd_millions DESC) AS next_country,
    (gdp_usd_millions - lead(gdp_usd_millions) OVER (PARTITION BY continent ORDER BY gdp_usd_millions DESC)) AS gdp_gap
   FROM practice_module_7.countries
  ORDER BY continent, gdp_usd_millions DESC;


ALTER VIEW practice_module_7.view_5_2 OWNER TO postgres;

--
-- Name: view_5_3; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_5_3 AS
 SELECT name,
    continent,
    life_expectancy,
    highest_life_expectancy,
    (highest_life_expectancy - life_expectancy) AS life_difference
   FROM ( SELECT countries.name,
            countries.continent,
            countries.life_expectancy,
            first_value(countries.life_expectancy) OVER (PARTITION BY countries.continent ORDER BY countries.life_expectancy DESC) AS highest_life_expectancy
           FROM practice_module_7.countries) t
  ORDER BY continent;


ALTER VIEW practice_module_7.view_5_3 OWNER TO postgres;

--
-- Name: view_5_4; Type: VIEW; Schema: practice_module_7; Owner: postgres
--

CREATE VIEW practice_module_7.view_5_4 AS
 SELECT name,
    continent,
    population,
    last_value(name) OVER (PARTITION BY continent ORDER BY population DESC ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS smallest_country
   FROM practice_module_7.countries
  ORDER BY continent, population DESC;


ALTER VIEW practice_module_7.view_5_4 OWNER TO postgres;

--
-- Name: countries country_id; Type: DEFAULT; Schema: practice_module_7; Owner: postgres
--

ALTER TABLE ONLY practice_module_7.countries ALTER COLUMN country_id SET DEFAULT nextval('practice_module_7.countries_country_id_seq'::regclass);


--
-- Data for Name: countries; Type: TABLE DATA; Schema: practice_module_7; Owner: postgres
--



--
-- Name: countries_country_id_seq; Type: SEQUENCE SET; Schema: practice_module_7; Owner: postgres
--

SELECT pg_catalog.setval('practice_module_7.countries_country_id_seq', 193, true);


--
-- Name: countries countries_iso3_key; Type: CONSTRAINT; Schema: practice_module_7; Owner: postgres
--

ALTER TABLE ONLY practice_module_7.countries
    ADD CONSTRAINT countries_iso3_key UNIQUE (iso3);


--
-- Name: countries countries_name_key; Type: CONSTRAINT; Schema: practice_module_7; Owner: postgres
--

ALTER TABLE ONLY practice_module_7.countries
    ADD CONSTRAINT countries_name_key UNIQUE (name);


--
-- Name: countries countries_pkey; Type: CONSTRAINT; Schema: practice_module_7; Owner: postgres
--

ALTER TABLE ONLY practice_module_7.countries
    ADD CONSTRAINT countries_pkey PRIMARY KEY (country_id);


--
-- Name: idx_countries_continent; Type: INDEX; Schema: practice_module_7; Owner: postgres
--

CREATE INDEX idx_countries_continent ON practice_module_7.countries USING btree (continent);


--
-- Name: idx_countries_region; Type: INDEX; Schema: practice_module_7; Owner: postgres
--

CREATE INDEX idx_countries_region ON practice_module_7.countries USING btree (region);


--
-- PostgreSQL database dump complete
--

\unrestrict dEbm0hWemB1K3Z3Hm1eOJrGMTsZV6CjpwGaifkG6QKfrR0VYyhnPQAEcvqfcW4t

